body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h3,h2,h4{
    margin: 0px;
    padding: 0px;
}
p{
  padding: 0px;
  margin: 0px;
}
.header{
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: rgb(190, 187, 187);
}

.title{
  padding-right: 10px;
  margin-top: 20px;
}
.logo{
  text-align: left;
  padding: 10px;
  margin-left: 50px;
  margin-top: 15px;
}

.header p{
    font-size: 40px;
    font-weight: bolder;
    text-align:center;
    padding: 0px;
}
/* .reports{
  background-color: rgb(178, 178, 211);
} */
.rform{
  margin: auto;
  width: 80%;
  /* background-color: rgb(178, 178, 211); */
  min-height: 85vh;
  padding: 10px;
  align-items: center;
  align-content: center;
}

.rform input{
  display: inline-block;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form{
  text-align: center;
}

h2{
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.reports{
  margin: auto;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
@media only screen and (max-width: 568px){
  .rform{
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
  }
  .header{
      /* height: 40px; */
      height: 10vh;
      display: block;
  }

  .header{
      /* height: 40px; */
      height: 10vh;
      display: block;
  }
  .logo{
    display: none;
  }
  form{
    display: inline-block;
  }
}
